<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>FEDUP.JOBS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <style>
        .nav-item:hover{
            background-color: skyblue;
            
            border-radius: 5px;
        }
        .nav-item:hover > a{
            color: white !important;
        }
    </style>
    

</head>

<body>
    <div class="mobileNav" data-behavior="toggle-headNav">
        <div class="logo">fedup.jobs</div>
    </div>
    <nav class="headerNav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="/">
                    <img src="img/fedup logo.jpg" data-visited="true" />
                </a>
            </li>
        </ul>
        <ul class="navjustify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="/">jobs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/startup">startup</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/tags">tags</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/location">location</a>
            </li>
        </ul>
        <ul class="navjustify-content-end">
            <li class="nav-item">
                <a class="btn btn-active btn-primary" href="/addNewPost/">post your job</a>
            </li>
    </nav>
    <div class="container">
        <div style="height: 50px;">

            <div class="col-2 mx-auto" style="background-image: url('{{ jobDetails.company_img_url }}'); height: 50px;"></div>
        </div>
        <div>
            <p class="text-center" style="text-transform: uppercase; color: gray; font-weight: 750;">{{jobDetails.company_name}} IS HIRING A</p>
            <h1 class="text-center">{{ jobDetails.job_title }}</h1>
        </div>
        <div class="col-md-7" style="border-bottom: 1px solid #eee0e0;">
            {% if jobDetails.location and jobDetails.country%}
                <p>{{ jobDetails.location }}, {{jobDetails.country}}</p>
            {% elif jobDetails.is_remote_job %}
                <p>Remote</p>
            {% elif jobDetails.job_type %}
                <p>{{ jobDetails.job_type }}</p>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-7">
                {{jobDetails.job_desc|safe}}
                <div class="mt-5 mb-5">
                    <a class="btn btn-active btn-primary " href="{{jobDetails.apply_job_link}}">APPLY FOR THIS JOB</a>
                </div>
                
            </div>
            <div class="col-md-3 ml-5 text-center justify-content-center">
                <a href="{{jobDetails.apply_job_link}}" class="btn btn-active btn-primary ">APPLY FOR THIS JOB</a>
            </div>
        </div>

    </div>
</body>
</html>
